
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body ">
                <div class="px-4 py-5">
                    <h5 class="text-uppercase">{{userName}}</h5>
                    <h4 class="mt-5 theme-color mb-5">Thanks for your order</h4> 
                    <div class="mb-3">
                        <hr class="new1">
                    </div>
                    <div class="text-center mt-5 mb-5"> <a href="/track-order" class="btn btn-primary">Track your order</a> </div>
                    </div>
            </div>
        </div>
    </div>
